@import url("https://fonts.googleapis.com/css?family=Ubuntu:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
	width: 100%;
	height: 100%;
	margin: 0;
	/* overflow-y: scroll; */
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	/* overflow-x: scroll; */
	background-color: white;
}

.home-page {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	vertical-align: text-top;
	margin: 0;
}

canvas {
	width: 100%;
	min-height: 100%;
}

.container-bottom-left {
	position: fixed;
	z-index: 1;
	bottom: 0;
	left: 0;
	margin-bottom: 23px;
	margin-left: 23px;

	display: flex;
	align-items: flex-end;
	flex-direction: column;
	gap: 30px;
}

.container-bottom-right {
	position: fixed;
	z-index: 1;
	bottom: 0;
	right: 0;
	padding-bottom: 23px;
	padding-right: 23px;

	display: flex;
	align-items: flex-end;
	flex-direction: column;
	gap: 30px;
}

/* explode 3D file*/
.explode-button {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 13.9249px;
	line-height: 21px;

	text-align: center;
}

/* darkmode light mode toggle */
.toggle {
	position: relative;
	width: 68.21px;
	height: 34.11px;
	background: #74e7d4;
	border-radius: 34.1063px;
	cursor: pointer;
}

.toggle.active {
	background: #189ab4;
}

.toggle::before {
	content: "";
	position: absolute;
	width: 26.53px;
	height: 26.53px;
	background: #189ab4;
	border-radius: 50%;
	top: 50%;
	left: calc(50% - 26.53px / 2 - 15.54px);
	transform: translateY(-50%);
	transition: all 0.3s ease-in-out;
}

.toggle.active::before {
	left: calc(100% - 26.53px - calc(50% - 26.53px / 2 - 15.54px));
	background: #74e7d4;
}
