@import url("https://fonts.googleapis.com/css?family=Ubuntu:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--primary-color-main: #e6f5f8;

	--primary-color-25: #d4f2f4;
	--primary-color-50: #74e7d4;
	--primary-color-100: #189ab4;
	--primary-color-200: #04445f;

	--secondary-color-25: #345d7d;
	--secondary-color-50: #725b78;
	--secondary-color-100: #c66e87;
	--secondary-color-200: #ff7582;

	--background-color-25: #f2f4f7;
	--background-color-50: #98a2b3;
	--background-color-100: #475467;
	--background-color-200: #344054;

	--text-color-25: #1d2538;
	--text-color-50: #475b74;
	--text-color-100: #7c8da5;
	--text-color-200: #e0e1dc;

	--text-color-primary-color-200: #04445f;
	--text-color-background-color-200: #344054;

	/* database table */
	--background-header: #f2f4f7;
	--text-color-database-data: #04445f;
	--background-database-data-select: #d4f2f4;
}

.dark-theme {
	--primary-color-main: #1d2538;

	--primary-color-25: #d4f2f4;
	--primary-color-50: #74e7d4;
	--primary-color-100: #189ab4;
	--primary-color-200: #04445f;

	--secondary-color-25: #345d7d;
	--secondary-color-50: #725b78;
	--secondary-color-100: #c66e87;
	--secondary-color-200: #ff7582;

	--background-color-25: #f2f4f7;
	--background-color-50: #98a2b3;
	--background-color-100: #475467;
	--background-color-200: #344054;

	--text-color-25: #1d2538;
	--text-color-50: #475b74;
	--text-color-100: #7c8da5;
	--text-color-200: #e0e1dc;

	--text-color-primary-color-200: #04445f;
	--text-color-background-color-200: #344054;

	/* database table */
	--background-header: #d4f2f4;
	--text-color-database-data: #74e7d4;
	--background-database-data-select: #7c8da5;
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	/* overflow-y: scroll; */
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	/* overflow-x: scroll; */
	background-color: white;
}

.home-page {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	vertical-align: text-top;
	margin: 0;
}

canvas {
	width: 100%;
	min-height: 100%;
}

.container-bottom-left {
	position: fixed;
	z-index: 1;
	bottom: 0;
	left: 0;
	margin-bottom: 23px;
	margin-left: 23px;

	display: flex;
	align-items: flex-end;
	flex-direction: column;
	gap: 30px;
}

.container-bottom-right {
	position: fixed;
	z-index: 1;
	bottom: 0;
	right: 0;
	padding-bottom: 23px;
	padding-right: 23px;

	display: flex;
	align-items: flex-end;
	flex-direction: column;
	gap: 30px;
}

.container-bottom-right-mr2x {
	position: fixed;
	z-index: 1;
	bottom: 0;
	/* left: 55%; */
	/* left: 40%; */
	right: 0%;
	padding-bottom: 23px;
	padding-right: 23px;
	margin-right: 80px;
	font-size: 13px;
}

/* explode 3D file*/
.explode-button {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 13.9249px;
	line-height: 21px;

	text-align: center;
}

/* darkmode light mode toggle */
.toggle {
	position: relative;
	width: 68.21px;
	height: 34.11px;
	background: #74e7d4;
	border-radius: 34.1063px;
	cursor: pointer;
}

.toggle.active {
	background: #189ab4;
}

.toggle::before {
	content: "";
	position: absolute;
	width: 26.53px;
	height: 26.53px;
	background: #189ab4;
	border-radius: 50%;
	top: 50%;
	left: calc(50% - 26.53px / 2 - 15.54px);
	transform: translateY(-50%);
	transition: all 0.3s ease-in-out;
}

.toggle.active::before {
	left: calc(100% - 26.53px - calc(50% - 26.53px / 2 - 15.54px));
	background: #74e7d4;
}

/* For Button Album */
.menu-container-blue-album {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #189ab4;
	padding: 0;
	border-radius: 14.3734px;
	width: 46.99px;
	height: 46.99px;
	cursor: pointer;
	transition: background-color 0.3s ease-in;

	user-select: none;
}

.menu-container-blue-album:hover {
	box-shadow: 0px 4px 4px #00000040;
}

.menu-container-blue-album.active {
	background-color: #74e7d4;
}

/* For Button Lightning Controller */
.menu-container-blue-lightning {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #189ab4;
	padding: 0;
	border-radius: 14.3734px;
	width: 46.99px;
	height: 46.99px;
	cursor: pointer;
	transition: background-color 0.3s ease-in;
}

.menu-container-blue-lightning:hover {
	box-shadow: 0px 4px 4px #00000040;
}

.menu-container-blue-lightning.active {
	background-color: #74e7d4;
}

.menu-container-blue-lightning-expand {
	min-width: 530px;
	height: 190px;

	background: rgba(242, 244, 247, 0.7);
	box-shadow: 0px 4px 4px rgba(24, 154, 180, 0.69);
	border-radius: 5px;
}

.menu-container-blue-lightning-expand-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	align-items: center;
	height: 100%;
	width: 100%;

	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 700;
	font-size: 14.8888px;
	line-height: 17px;
	text-align: center;

	color: #04445f;
}

.lightning-title {
	display: flex;
}

.opsi {
	margin: 0px 0px 0px 8px;
	font-weight: 400;
	cursor: pointer;
}

.opsi.active {
	font-weight: 700;
	text-decoration: underline;
}

.opsi:hover {
	font-weight: 700;
	text-decoration: underline;
}

@media screen and (max-width: 900px) {
	.lightning-title {
		/* display: none; */
		padding: 0px 3px;
	}

	.menu-container-blue-lightning-expand-wrapper {
		gap: 0px;
	}

	.menu-container-blue-lightning-expand {
		max-width: 690px;
		min-width: 180px;
	}
}

/* nakayama's text */
.item-name-container {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 23px;

	/* Need a specific value to work */
	width: 228px;
	background-color: var(--background-color-25);
	border: 1.74061px solid var(--primary-color-100);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px 12px;
}

.text-file-name {
	position: relative;
	/* Text style */
	margin: 0px 0px 8px 0px;
	height: 23.5px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 13.9249px;
	line-height: 21px;

	text-align: center;

	color: var(--primary-color-200);
}

.type-container {
	display: flex;
	padding: 8.703px 12.184px;
	align-items: center;
	gap: 6.962px;
	align-self: stretch;
	justify-content: center;

	border: 0.87px solid #189ab4;
	background: #e6f5f8;
}

.text-file-type {
	color: #475b74;
	font-size: 13.925px;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	line-height: 20.887px;
}

/* catalogue model number home */
.catalogue-container-2 {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 15%;
	right: 0;
	margin-right: 23px;
	margin-top: auto;
	margin-bottom: auto;

	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 12px 18px 12px 18px;
	gap: 5px;

	width: 225px;
	height: 55%;

	background: linear-gradient(
		180deg,
		#f7fbfc 0%,
		rgba(233, 254, 255, 0.62) 100%
	);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;

	::-webkit-scrollbar {
		display: none;
	}
}

.catalogue-description-title-2 {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: center;

	min-height: 29px;

	color: #475b74;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: 1px 16px 0px 0px;
}

.catalogue-description-2 {
	overflow-y: scroll;
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-align: justify;

	color: var(--text-color-50);
}

.catalogue-product-list-2 {
	display: flex;
	margin-top: 17px;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	padding: 15px 0px 0px 0px;

	border: 1px solid #74e7d4;
	border-radius: 10px;

	height: 190px;
	width: 225px;

	cursor: pointer;

	transition: all 0.3s ease-in;
}

.catalogue-product-list-2:hover {
	box-shadow: 0px 4px 4px #74e7d4;
}

.catalogue-product-list-2.active {
	border: 3px solid #189ab4;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.catalogue-product-list-2.active:hover {
	box-shadow: 0px 4px 4px #74e7d4;
}

.catalogue-product-list-text-2 {
	color: #475b74;
	text-align: center;
	font-size: 16px;
}

.catalogue-image-preview-2 {
	height: 100%;
	width: 100%;
}
